a{
    text-decoration: none;
}
body{
    background: hsla(350, 73%, 44%, 1);
    background: linear-gradient(90deg, hsla(350, 73%, 44%, 1) 0%, hsla(274, 65%, 12%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(350, 73%, 44%, 1) 0%, hsla(274, 65%, 12%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(350, 73%, 44%, 1) 0%, hsla(274, 65%, 12%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#C11E38", endColorstr="#220B34", GradientType=1 );
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
h1, a{
    font-family: "Jersey 10 Charted", sans-serif;
    color: rgb(87, 74, 74);
    width: 400px;
    height: 200px;
}
button{
    width: 80px;
    height: 40px;
    font-size: 20px;
}
h3, h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
}
